configuration {
    font: "Droid sans 14";
    location: 2;
    yoffset: -2;
    xoffset: 2;
    fixed-num-lines: false;
    show-icons: true;
    terminal: "alacritty";
    icon-theme: "Papirus-Dark";
}
